

    <h3>{{model.memberNumber}}</h3>
    <div class="detail owner">
      <span>First Name:</span> {{model.firstName}}
    </div>
    <div class="detail type">
      <span>Last Name:</span> {{model.lastName}}
    </div>